debug.log

# ignore the dataset
data/
bolt_self_supervised_training/cifar-10-batches-py
bolt_self_supervised_training/cifar-10-python.tar.gz
3dident_causal/testset
3dident_causal/trainset
3dident_causal/testset.tar.gz?download=1
3dident_causal/trainset.tar.gz?download=1

#raytune results
bolt_self_supervised_training/ray_tuning/tune_simclr_asha/train_model_2354d_00000_0_learning_rate=0.13014_2021-12-16_23-04-28
bolt_self_supervised_training/ray_tuning/tune_simclr_asha/train_model_2354d_00001_1_learning_rate=0.63835_2021-12-16_23-04-29


# ignore images
images/
adv_images

# ignore model checkpoints
**/*.ckpt
**/*.pth
**/*.pt
#barlow_twins_yao_training/bolt_resnet18_without_any_normalization/
#Supervised_Robust_models_chpt/
#model_checkpoints/
#Robust_models_chpt/
#huy_Supervised_models_training_CIFAR10/cifar10/
huy_Supervised_models_training_CIFAR10/cifar10_models/state_dicts
huy_Supervised_models_training_CIFAR10/*.zip
#ignore logs 

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/



# Django stuff:
*.log





# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
